body{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSzrNjL6G9-9aoESYu49lcBtrlMaJGnMFRmiw&usqp=CAU");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-size: 100% 100%;

}

        body {
            font-family: Arial, sans-serif;
            margin: 20px;
            background-color: #f8f8f8;
            color: #333;
        }
        .container {
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
            background-color: #fff;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        h1 {
            color: #333;
        }
        p {
            color: #666;
            line-height: 1.6;
        }
        ol {
            margin-left: 20px;
        }
        li {
            margin-bottom: 10px;
        }
 


